:root {
    --border: 1px solid black;
    --success: #19a413;
    --error: #D63659;
    --warning: #F7C137;
    --black: #384241;
    --dark_gray: #737a7a;
    --medium_gray: #afb3b3;
    --light_gray: #ebecec;
    --off_white: #f9f9f9;
    --white: #ffffff;

    --roboto: 'roboto';

}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

*:focus {
    outline: 0 !important;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: white;
    font-size: 22px;
    text-transform: uppercase;
}

button {
    cursor: pointer;
}

#arla-background {
    width: 100%;
    height: 600px;
    background-image: url(../img/climate-cows.jpg);
    background-repeat: no-repeat;
}

.welcome {
    position: absolute;
    color: #ffffff;
    top: 22%;
    left: 5%;
}

.logo {
    width: 100px;
    margin-left: 20px;
}


h1 {
    font-size: 30pt;
}

h3 {
    font-size: 18pt;
}

.share {
    margin-top: 20px;
    padding: 8px;
    width: 260px;
    height: 40px;
    border-radius: 10px;
    border: solid 4px white;
    background: rgba(0, 0, 0, 0.25);
    font-size: 12pt;
    font-weight: 700;
    color: white;
}

ul {
    list-style-type: none;
    display: flex;
}

ul li {
    padding: 16px 32px;
    text-decoration: none;
}

#landing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90vh 400px 400px 400px 100px;
    width: 100%;
    height: 600px;
    grid-row-gap: 15px;
    grid-template-areas:
        "first first"
        "secondl secondr"
        "thirdl thirdr"
        "fourthl fourthr"
        "end end"



    ;
}

#landing div {
    padding: 50px;
    color: white;
    font-size: 24px;
}

.landing-first {
    grid-area: first;
    background-image: url("../img/firstbg.png");
    background-position: center;
    background-size: cover;
}

.landing-second-r {
    grid-area: secondr;
    background-image: url("../img/path.jpg");
    background-position: center;
    background-size: cover;
}

.landing-second-l {
    grid-area: secondl;
    background-color: #0B7B63;
}

.landing-third-r {
    grid-area: thirdr;
    background-color: #37729E;
}

.landing-third-l {
    grid-area: thirdl;
    background-image: url("../img/money.png");
    background-position: center;
    background-size: cover;
}

.landing-fourth-r {
    grid-area: fourthr;
    background-image: url("../img/amazon.jpeg");
    background-position: center;
    background-size: cover;
}

.landing-fourth-l {
    grid-area: fourthl;
    background-color: #384241;
}

.end {
    grid-area: end;
    background-color: white;
    justify-content: center;

}

#landing div h3 {
    color: gray;
    margin: -30px auto 0 auto;
    width: 250px;
    text-align: center;
    border-radius: 20px;

}

#datasharing {
    width: 100%;
    height: 100vh;
    padding-top: 20px;


}

.processbar {
    width: 350px;
    height: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.input-container-big {
    width: 100%;
    height: 100%;

}

.bg-input-container {
    width: 100%;
    height: 700px;
    background-image: url(../img/input-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.welcome-container {
    background-image: url(../img/climate-cows.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.input-container {
    width: 450px;
    height: 600px;
    margin: auto;
    position: relative;


}

.input-small-container {
    width: 100%;
    margin-top: 30px;

}

.input-field {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;

}

.bg {
    background-color: rebeccapurple;
}

div p {
    margin: 10px 0 5px 0;

}

.navigate-btn-container {
    margin: 80px auto 0 auto;
    width: 450px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    position: absolute;


}



tr td:first-child {
    text-align: right;
    font-weight: bold;
    padding-right: 7px;
    cursor: pointer;
    transition: 0.3s;
    width: 300px;

}

tr td:last-child {
    text-align: left;
    padding-left: 7px;
    cursor: pointer;
}

tr td:first-child:hover {
    font-size: 28px;
}


.navigate-btn-container button {
    height: 30px;
    width: 80px;
    border: none;
    border-radius: 15px;
    color: white;
    text-transform: uppercase;


}

.next {
    background-color: var(--success);
}

.back {
    background-color: var(--error);
}

@font-face {
    font-family: Arla InterFace;
    src: url(../fonts/ArlaInterFace-Light.woff2) format("woff2"),
        url(../fonts/ArlaInterFace-Light.woff) format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Arla InterFace;
    src: url(../fonts/ArlaInterFace-Regular.woff2) format("woff2"),
        url(../fonts/ArlaInterFace-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Arla InterFace;
    src: url(../fonts/ArlaInterFace-Bold.woff2) format("woff2"),
        url(../fonts/ArlaInterFace-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: ARLA STRONG;
    src: url(../fonts/ARLASTRONG-Regular.woff2) format("woff2"),
        url(../fonts/ARLASTRONG-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: ARLA STRONG Mono;
    src: url(../fonts/ARLASTRONG-Mono.woff2) format("woff2"),
        url(../fonts/ARLASTRONG-Mono.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}


/* Using the fonts */
html,
body {
    font-family: 'Arla InterFace',
        Helvetica,
        Arial,
        sans-serif;
    font-size: 24px;
}

.light {
    font-weight: 300;
}

.regular {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.arla-strong {
    font-family: 'ARLA STRONG',
        Helvetica,
        Arial,
        sans-serif;
}

.arla-strong-mono {
    font-family: 'ARLA STRONG Mono',
        Helvetica,
        Arial,
        sans-serif;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 50vh;
    width: 50vw;
    font-family: 'ARLA STRONG Mono',
        Helvetica,
        Arial,
        sans-serif;
    /* background-image: url(../img/input-bg.jpg); */
}

/* Slider */
#slider {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    text-align: center;
    display: inline-block;
}

#slider input[type=radio] {
    display: none;
}

#slider label {
    cursor: pointer;
    text-decoration: none;
}

#slides {
    border: none;
    background: #fff;
    position: relative;
    z-index: 1;
}

#overflow {
    width: 100%;
    overflow: hidden;
}

#slide1:checked~#slides .inner {
    margin-left: 0;
}

#slide2:checked~#slides .inner {
    margin-left: -100%;
}

#slide3:checked~#slides .inner {
    margin-left: -200%;
}

#slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    height: 500px;
}

#slides .slide {
    width: 25%;
    float: left;
    height: 100%;
    color: #fff;
}

#slides .slide_1 {
    background: #00171F;
}

#slides .slide_2 {
    background: #003459;
}

#slides .slide_3 {
    background: #007EA7;
}

#controls {
    margin: -250px 0 0 0;
    width: 80%;
    height: 50px;
    z-index: 3;
    position: relative;
}

#controls label {
    transition: opacity 0.4s ease-out;
    display: block;
    width: 50px;
    height: 50px;
    opacity: 0.6;
}

#controls label:hover {
    opacity: 1;
}

#slide1:checked~#controls label:nth-child(2),
#slide2:checked~#controls label:nth-child(3),
#slide3:checked~#controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float: right;
    margin: 0 20px 0 0;
    display: block;
}

#slide1:checked~#controls label:nth-last-child(3),
#slide2:checked~#controls label:nth-last-child(1),
#slide3:checked~#controls label:nth-last-child(2) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float: left;
    margin: 0 0 0 20px;
    display: block;
}

#bullets {
    margin: 150px 0 0;
    text-align: center;
}

#bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ccc;
    margin: 0 10px;
}

#slide1:checked~#bullets label:nth-child(1),
#slide2:checked~#bullets label:nth-child(2),
#slide3:checked~#bullets label:nth-child(3) {
    background: #444;
}

@media screen and (max-width: 900px) {

    #slide1:checked~#controls label:nth-child(2),
    #slide2:checked~#controls label:nth-child(3),
    #slide3:checked~#controls label:nth-child(1),
    #slide1:checked~#controls label:nth-last-child(2),
    #slide2:checked~#controls label:nth-last-child(3),
    #slide3:checked~#controls label:nth-last-child(1) {
        margin: 0;
    }

    #slides {
        max-width: calc(100% - 140px);
        margin: 0 auto;
    }
}

.slide-content {
    display: flex;
    flex-direction: row;
}

.blue-slide {
    width: 57%;
    background-color: #95BFE4;
    height: 500px;
    color: #434343;
}

.gray-slide {
    width: 57%;
    background-color: #575757;
    height: 500px;
    color: #ffffff;
}

.pink-slide {
    width: 57%;
    background-color: #E1A6A6;
    height: 500px;
    color: #434343;
}

.slide-photo {
    width: 43%;
    background-image: url(../img/path-2.png);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide-photo-2 {
    width: 43%;
    background-image: url(../img/cowbank.png);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide-photo-3 {
    width: 43%;
    background-image: url(../img/amazon.jpeg);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide-text {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 50px;
}