:root {
    --border: 1px solid black;
    --success: #19a413;
    --error: #D63659;
    --warning: #F7C137;
    --black: #384241;
    --dark_gray: #737a7a;
    --medium_gray: #afb3b3;
    --light_gray: #ebecec;
    --off_white: #f9f9f9;
    --white: #ffffff;

    --roboto: 'roboto';

}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

*:focus {
    outline: 0 !important;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: white;
    font-size: 22px;
    text-transform: uppercase;
}

button {
    cursor: pointer;
}

#arla-background {
    width: 100%;
    height: 600px;
    background-image: url(../img/climate-cows.jpg);
    background-repeat: no-repeat;
}

.welcome {
    position: absolute;
    color: #ffffff;
    top: 20%;
    left: 5%;
}

.logo {
    height: 50px;
    margin-left: 60px;
    position: relative;
    z-index: 9;
}
@media screen and (max-width: 600px) {
    .logo {
        height: 40px;
        margin-left: 10px;
        position: relative;
        z-index: 9;
    }
}
.menu-2 {
    color: #fff !important;
}

.cloud {
    height: 72px;
    width: 180px;
    position: absolute;
    left: 0;
}

.tips-header {
    background-color: #579755;
}

.green-header {
    text-align: center;
    color: #007619;
    margin: 50px 50px 20px 50px;
}

h1 {
    font-size: 30pt;
}

h3 {
    font-size: 18pt;
}

h4 {

    margin-bottom: 0px;
    color: var(--black);
}

.share {
    margin-top: 20px;
    padding: 8px;
    width: 260px;
    height: 40px;
    border-radius: 10px;
    border: solid 4px white;
    background: rgba(0, 0, 0, 0.25);
    font-size: 12pt;
    font-weight: 700;
    color: white;
}
ul {
    list-style-type: none;
    display: flex;
}

ul li {
    padding: 16px;
    text-decoration: none;

}

@media screen and (max-width: 600px) {
    ul li {
        padding: 5px;
        text-decoration: none;
        font-size: 12px;
        margin-right: 10px;
    
    }}
.topnav {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

#landing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90vh 400px 400px 400px 100px;
    width: 100%;
    height: 600px;
    grid-row-gap: 15px;
    grid-template-areas:
        "first first"
        "secondl secondr"
        "thirdl thirdr"
        "fourthl fourthr"
        "end end"



    ;
}

#landing div {
    padding: 50px;
    color: white;
    font-size: 24px;
}

.landing-first {
    grid-area: first;
    background-image: url("../img/firstbg.png");
    background-position: center;
    background-size: cover;
}

.landing-second-r {
    grid-area: secondr;
    background-image: url("../img/path.jpg");
    background-position: center;
    background-size: cover;
}

.landing-second-l {
    grid-area: secondl;
    background-color: #0B7B63;
}

.landing-third-r {
    grid-area: thirdr;
    background-color: #37729E;
}

.landing-third-l {
    grid-area: thirdl;
    background-image: url("../img/money.png");
    background-position: center;
    background-size: cover;
}

.landing-fourth-r {
    grid-area: fourthr;
    background-image: url("../img/amazon.jpeg");
    background-position: center;
    background-size: cover;
}

.landing-fourth-l {
    grid-area: fourthl;
    background-color: #384241;
}

.end {
    grid-area: end;
    background-color: white;
    justify-content: center;

}

#landing div h3 {
    color: gray;
    margin: -30px auto 0 auto;
    width: 250px;
    text-align: center;
    border-radius: 20px;
}

#datasharing {
    width: 100%;
    height: 100vh;
}

.processbar {
    width: 350px;
    height: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
    .processbar {
        width: 250px;
        height: 50px;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 30px;
    }
  }

.input-container-big {
    width: 100%;
    height: 100%;

}

.bg-input-container {
    width: 100%;
    height: 700px;
    background-image: url(../img/input-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}



@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
    .bg-input-container {
        width: 100%;
        height: 900px;
        background-image: url(../img/input-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    
    }}

.welcome-container {
    background-image: url(../img/climate-cows.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.input-container {
    width: 350px;
    height: 530px;
    margin: auto;
    position: relative;


}


.input-small-container {
    width: 100%;
    margin-top: 30px;

}
@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
    .input-small-container {
        width: 100%;
        margin-top: 50px;
    
    }}

.input-field {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    padding-left: 9px;
    font-size: 15px;

}

.bg {
    background-color: rebeccapurple;
}

div p {
    margin: 0px 0 5px 0;
    font-size: 15px;

}

.navigate-btn-container {
    margin: 80px auto 0 auto;
    width: 350px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    position: absolute;


}



tr td:first-child {
    text-align: right;
    font-weight: bold;
    padding-right: 7px;
    cursor: pointer;
    transition: 0.3s;
    width: 300px;
    padding: 5px 0px;

}

tr td:last-child {
    text-align: left;
    padding-left: 25px;
    cursor: pointer;
}

tr td:first-child:hover {
    font-size: 28px;
}


.navigate-btn-container button {
    height: 30px;
    width: 80px;
    border: none;
    border-radius: 15px;
    color: white;
    text-transform: uppercase;


}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
    .navigate-btn-container button {
        height: 30px;
        width: 80px;
        border: none;
        border-radius: 15px;
        color: white;
        text-transform: uppercase;
        margin-top: 8rem;
    
    
    }}
.next {
    background-color: var(--success);
}

.back {
    background-color: var(--error);
}

@font-face {
    font-family: Arla InterFace;
    src: url(../fonts/ArlaInterFace-Light.woff2) format("woff2"),
        url(../fonts/ArlaInterFace-Light.woff) format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Arla InterFace;
    src: url(../fonts/ArlaInterFace-Regular.woff2) format("woff2"),
        url(../fonts/ArlaInterFace-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Arla InterFace;
    src: url(../fonts/ArlaInterFace-Bold.woff2) format("woff2"),
        url(../fonts/ArlaInterFace-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: ARLA STRONG;
    src: url(../fonts/ARLASTRONG-Regular.woff2) format("woff2"),
        url(../fonts/ARLASTRONG-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: ARLA STRONG Mono;
    src: url(../fonts/ARLASTRONG-Mono.woff2) format("woff2"),
        url(../fonts/ARLASTRONG-Mono.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}


/* Using the fonts */
html,
body {
    font-family: 'Arla InterFace',
        Helvetica,
        Arial,
        sans-serif;
    font-size: 24px;
}

.light {
    font-weight: 300;
}

.regular {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.arla-strong {
    font-family: 'ARLA STRONG',
        Helvetica,
        Arial,
        sans-serif;
}

.arla-strong-mono {
    font-family: 'ARLA STRONG Mono',
        Helvetica,
        Arial,
        sans-serif;
}

.chart-container {
    position: relative;
    margin: auto;
    display: none;
    height: 50vh;
    width: 50vw;
    font-family: 'ARLA STRONG Mono',
        Helvetica,
        Arial,
        sans-serif;
}
@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
    .chart-container {
        position: relative;
        margin: auto;
        display: none;
        height: 100vh;
        width: 90vw;
        padding: 5px;
        font-family: 'ARLA STRONG Mono',
            Helvetica,
            Arial,
            sans-serif;
    }}

/* Slider */
#slider {
    margin: 0 auto;
    width: 100%;
    height: 500px;
    text-align: center;
}

#slider input[type=radio] {
    display: none;
}

#slider label {
    cursor: pointer;
    text-decoration: none;
}

#slides {
    background: #fff;
    position: relative;
    z-index: 1;
    margin-bottom: 70px;
}

#overflow {
    width: 100%;
    overflow: hidden;
}

#slide1:checked~#slides .inner {
    margin-left: 0;
}

#slide2:checked~#slides .inner {
    margin-left: -100%;
}

#slide3:checked~#slides .inner {
    margin-left: -200%;
}

#slide4:checked~#slides .inner {
    margin-left: -300%;
}

#slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    height: 500px;
}

#slides .slide {
    width: 25%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
}

#slides .slide_1 {
    background: #00171F;
}

#slides .slide_2 {
    background: #003459;
}

#slides .slide_3 {
    background: #007EA7;
}

#slides .slide_4 {
    background: #00A8E8;
}

#controls {
    margin: -340px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
}

#controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .6;
}

#controls label:hover {
    opacity: 0.8;
}

#slide1:checked~#controls label:nth-child(2),
#slide2:checked~#controls label:nth-child(3),
#slide3:checked~#controls label:nth-child(4),
#slide4:checked~#controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float: right;
    margin: 0 20px 0 0;
    display: block;
    background-color: #fff;
    background-size: 30px;
    background-position: center;
    border-radius: 100%;
}

#slide1:checked~#controls label:nth-last-child(2),
#slide2:checked~#controls label:nth-last-child(3),
#slide3:checked~#controls label:nth-last-child(4),
#slide4:checked~#controls label:nth-last-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float: left;
    margin: 0 0 0 20px;
    display: block;
    background-color: #fff;
    background-size: 30px;
    background-position: center;
    border-radius: 100%;
}

#bullets {
    margin: 180px 0 0 0;
    text-align: center;
    z-index: 9;
    position: relative;
}

#bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ccc;
    margin: 0 10px;
}

#slide1:checked~#bullets label:nth-child(1),
#slide2:checked~#bullets label:nth-child(2),
#slide3:checked~#bullets label:nth-child(3),
#slide4:checked~#bullets label:nth-child(4) {
    background: #444;
}

@media screen and (max-width: 900px) {

    #slide1:checked~#controls label:nth-child(2),
    #slide2:checked~#controls label:nth-child(3),
    #slide3:checked~#controls label:nth-child(4),
    #slide4:checked~#controls label:nth-child(1),
    #slide1:checked~#controls label:nth-last-child(2),
    #slide2:checked~#controls label:nth-last-child(3),
    #slide3:checked~#controls label:nth-last-child(4),
    #slide4:checked~#controls label:nth-last-child(1) {
        margin: 0;
    }

    #slides {
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px) {
.slide-content {
    flex-direction: column !important;
}
.blue-slide, .gray-slide, .pink-slide, .green-slide, .slide-photo, .slide-photo-2, .slide-photo-3, 
.slide-photo-4, .slide-photo2, .slide-photo-22, .slide-photo-32, .slide-photo-42 {
    width: 100% !important;
    height: 250px !important;
}
.slide-text, .slide-text2{
    font-size: 16pt !important;
    height: 250px !important;
    margin: 0 40px !important;
}

}

.slide-content {
    display: flex;
    flex-direction: row;
}

.blue-slide {
    width: 57%;
    background-color: #95BFE4;
    height: 500px;
    color: #434343;
}


.gray-slide {
    width: 57%;
    background-color: #575757;
    height: 500px;
    color: #ffffff;
}

.pink-slide {
    width: 57%;
    background-color: #E1A6A6;
    height: 500px;
    color: #434343;
}

.slide-photo {
    width: 43%;
    background-image: url(../img/path-2.png);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide-photo-2 {
    width: 43%;
    background-image: url(../img/cowbank.png);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide-photo-3 {
    width: 43%;
    background-image: url(../img/amazon.jpeg);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide-photo-4 {
    width: 43%;
    background-image: url(../img/improving.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide-text {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 80px;
    font-size: 20pt;
}


/* Slider - 2 */

.blue-slide2 {
    width: 57%;
    background-color: #95BFE4;
    height: 500px;
    color: #434343;
}

.gray-slide2 {
    width: 57%;
    background-color: #575757;
    height: 500px;
    color: #ffffff;
}

.pink-slide2 {
    width: 57%;
    background-color: #E1A6A6;
    height: 500px;
    color: #434343;
}

.green-slide {
    width: 57%;
    background-color: #3E9582;
    height: 500px;
    color: #fff;
}

.slide-photo2 {
    width: 43%;
    background-image: url(../img/shed.png);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide-photo-22 {
    width: 43%;
    background-image: url(../img/tractor.png);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide-photo-32 {
    width: 43%;
    background-image: url(../img/haystack.png);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide-photo-42 {
    width: 43%;
    background-image: url(../img/cow.png);
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide-text2 {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 80px;
    font-size: 20pt;
}

/* review */

.feedback {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.rating {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.rating li {
    list-style-type: none
}

.rating-item {
    border: 1px solid #fff;
    cursor: pointer;
    font-size: 2em;
    color: #434343;
}

.rating-item::before {
    content: "\2605";
}

.rating-item.active~.rating-item::before {
    content: "\2606";
}

.rating:hover .rating-item::before {
    content: "\2605";
}

.rating-item:hover~.rating-item::before {
    content: "\2606";
}

.comment {
    color: #434343;
    text-align: center;
}


.comment-area {
    width: 40%;
    height: 150px;
    margin: 30px;
    padding-top: 30px;
}

.submit {
    width: 120px;
    height: 50px;
    background: rgba(0, 0, 0, 0);
    border-radius: 15px;
    border: solid 5px #434343;
    font-weight: 700;
    font-size: 14pt;
}

.footer {
    margin-top: 40px;
    background-color: #579755;
    height: 72px;
    width: 100%;
}



.logo-2 {
    width: 80px;
    margin-left: 20px;
    margin-top: 10px;
    position: relative;
    z-index: 9;
}



.cb {
    font-family: 'ARLA STRONG',
        Helvetica,
        Arial,
        sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    color: var(--black);
    margin-top: 30px;
    text-align: justify;
    width: 570px;
    transform: translateX(-15%);

}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
    .cb {
        font-family: 'ARLA STRONG',
            Helvetica,
            Arial,
            sans-serif;
        font-size: 20px;
        font-weight: 300;
        font-style: normal;
        font-display: swap;
        color: var(--black);
        margin-top: 10px;
        text-align: justify;
        width: 300px;
        transform: translateX(-15%);
        margin-left: 70px;
    
    }
  }

input[type=checkbox] {
    width: 30px;
    height: 30px;
    transform: translateY(7px);
    margin-right: 5px;
}



#myCheck {
    margin-top: 50px;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }#myCheck {
        margin-top: 20px;
    }}

#myCheck1 {
    margin-top: 20px;
}

#myCheck2 {
    margin-top: 20px;
}

#myCheck3 {
    margin-top: 20px;
}

#myCheck4 {
    margin-top: 50px;
}
@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
    #myCheck4 {
        margin-top: 20px;
    }}

#myCheck5 {
    margin-top: 20px;
}

#myCheck6 {
    margin-top: 20px;
}

#myCheck7 {
    margin-top: 20px;
}

#checkbx {
    background-image: url(../img/input-bg.jpg);
}



@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }

    .check{
        height: 800px;
    }
}
.column {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;

}



.column label {
    font-size: 20px;
    margin-bottom: 10px;
}

.row {
    width: 200%;
    margin: auto;
    transform: translateX(-15%);
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.start {
    color: white;
    background-color: var(--success);
    font-size: 20px;
    margin: 80px auto 0 auto;
    width: 150px;
    height: 30px;
    border-radius: 20px;
}

.hero {
    width: 100%;
    height: 100vh;
    z-index: 1000;
}

.scroll-down {
    position: absolute;
    top: 21rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    z-index: 1000;

}

.mouse {
    width: 1rem;
    height: 2.5rem;
    border: 2px solid white;
    border-radius: 2rem;
    margin-bottom: .1rem;
    display: flex;
}

.mouse span {
    width: 0.8rem;
    height: 0.8rem;
    background-color: white;
    display: block;
    border-radius: 50%;
    margin: auto;
    animation: move-wheel 1s linear infinite;
}



@keyframes move-wheel {
    0% {
        opacity: 0;
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(.7rem);
    }
}

.table {
    margin-top: 40px;
    width: 200%;
    transform: translateX(-20%);
}

.tips {
    height: 80px;
    width: 250px;
    margin-top: 50px;
    border: none;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    color: var(--dark_gray);
    text-transform: uppercase;
    border: solid 5px var(--dark_gray);
    background-color: #fff;
    border-radius: 20px;
    font-size: 16pt;
    font-weight: 700;
}

.advices {
    text-align: center;
    margin-bottom: 50px;

}

#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 600px) {

#content-desktop {display: none;}
#content-mobile {display: block;}
}